/* ---------------------- Reset CSS => */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------- => Structural and layout-only styles => */ 
.flex {
    display: flex;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 70vh;
    margin-bottom: 1rem;
}

.grid-item {
    
}

ul {
    list-style: none;
}

footer {
    border-top: 1px solid #FFFFF6 ;
    margin: 1rem 0;
    padding: 1rem, 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    text-align: center;

}

/* ---------------------- => Any other styles => */ 
* {
    background-color: black;
}

div {
    color: #FFFFF6;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #89209E;
    font-family: 'Press Start 2P', cursive;
    margin: 2rem auto;    
}

h1 {
    font-size: 2rem;
}

p, span {
    color: #FFFFF6;
    font-family: 'IBM Plex Mono', monospace;
    padding: 1rem 0;
}

button, li, a {
    color: #84EB00;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 1000;   
    text-decoration: none;
}

button {
    font-size: 1.5rem;

}

.div-container {
    margin: 0.3rem;
}


/* Need to create media query for desktop sizes */






