/* ---------------------- Reset CSS => */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    max-width: 400px;
    min-width: 230px;
    margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------- => Structural and layout-only styles => */ 
.flex {
    display: flex;
    justify-content: space-between;
}
/* Remote: Changed color to 'black', border to none */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 70vh;
    max-height: 350px;    
    width: 100vw;
    min-width: 240px;
    max-width: 400px;
    margin: 2rem auto 3rem auto;
	color: black;
	border: none;
}

.gridItem {
    width: 100%;
    max-width: 80px;
    height: 100%;
    padding: 0;
}

.gridBug {
    width: 100%;
}

.gridProfessor {
    animation: leaningIn 0.6s 1;
    animation-fill-mode: both;
}

.appear {
    animation: appear 0.4s 1 linear;
}

.twitch {
    animation: bugTwitch 0.05s infinite linear;
}

.rotateRight {
    transform: rotate(0.3turn);
}

.rotateLeft {
    transform: rotate(0.7turn);
}


@keyframes bugTwitch {
    0% {
        transform: rotate(0turn);
    }

    50% {
        transform: rotate(-0.02turn);
    }

    100% {
        transform: rotate(0turn);
    }
} 

@keyframes appear {
    0% {
        transform: scale(0.1);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes leaningIn {
    0% {
        translate: -25px;
        rotate: 0turn;
    }

    100% {
        translate: 0px;
        rotate: 0.1turn;
    }
}

ul {
    list-style: none;
}

.professorPic {
    width: 200px;
}

.professorStart {
    margin-top: 2rem;
}

.DoorIcon {
    width: 30px;
}

/* ---------------------- => Any other styles => */ 
* {
    background-color: black;
}

div {
    color: #FFFFF6;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #89209E;
    font-family: 'Press Start 2P', cursive;
    margin: 2rem auto;    
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}

p, span {
    color: #FFFFF6;
    font-family: 'IBM Plex Mono', monospace;
}

.intro {
    line-height: 1.2rem;
    font-size: 1.2rem;      
    padding: 1rem 0;  
}
/* from local: added '}' which was missing after git pull */

footer {
    border-top: 1px solid #FFFFF6 ;
    margin: 1rem 0;
    padding: 1rem, 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    text-align: center;
    line-height: 1.5rem;
}
/* From remote: changed border to 'none' */
button, li, a {
    color: #84EB00;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 1000;   
    text-decoration: none;
	border: none;
}

button:hover, li:hover, a:hover {
    color: #89209E;   
}

button {
    font-size: 1.25rem;
}

.div-container {
    margin: 0.3rem;
}

.server {
    color: #89209E;
}
    
.notFoundText {
    margin: 2rem 0
}

.marginBottom {
    margin-bottom: 3rem;
}

.imageAttributes {
    font-size: 0.5rem;
}

/* ---------------------- => Media query for desktop sizes: => */

@media screen and (min-width: 400px) {
    .grid {
        margin: 3rem auto 3rem auto;
    } 

    .DoorIcon {
        width: 40px;
    }
}

/* ---------------------- => For non-game bug animation: =>*/

.BugOne {
    position: sticky;
    rotate: 0.5turn;
    left: 0rem;
    top:3rem;
    width: 10px;
    animation: bugmove 50s infinite ease-in-out;
}

@keyframes bugmove {
    0% {
        
    }

    100% {
        translate: 0 90vh;
    }
}




