/* Need to add reset CSS */

/* Need to create structural utility styles */

/* Need to create appearence styles */

/* Need to create media query for desktop sizes */
.flex {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}